* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: $colorDark;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  display: block;
}
