@import "@/css/_vars";
@import "@/css/_mixins";

.linkButton {
  &:hover {
    text-decoration: none;
    cursor: pointer;

    @include mediaScreen(mobile) {
      text-decoration: underline;
    }
  }
}
