@import "@/css/_vars";

.figure {
  figcaption {
    text-align: center;
  }
}

.catImage {
  object-fit: cover;
  width: $imagesWidth;
  height: $imagesHeight;
  border-radius: 10px;
  transition: all 0.2s ease-out;

  &:hover {
    transform: scale(1.1, 1.1) rotate(0.01turn);
  }
}
